img {
  height: 140px;
  object-fit: contain;
}
body a {
  text-decoration: none;
}

input[type="date"] {
  margin: 30px 0px 10px;
  font-family: "Roboto Mono", monospace;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

h4 {
  margin: 50px;
  text-transform: capitalize;
  text-align: center;
  color: rgb(70, 64, 56);
}

form {
  align-items: center;
  align-content: center;
  padding: 0px 200px 0px !important;
}
.form-btn {
  display: flex;
  justify-content: center;
}
button {
  text-transform: capitalize;
}
